# Binaries for programs and plugins
*.jsonl
.env
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.err

vendor/
.DS_Store
swagger.json

# Don't ignore these files
!.gitignore
!.travis.yml
!.github

config/

*.dec

coverage.out
/docs/badge.svg
/build/
/.log/
/.scratch/
